[submodule "libunwind"]
	path = libunwind
	url = git://git.sv.gnu.org/libunwind.git
[submodule "libpypa"]
	path = libpypa
	url = git://github.com/vinzenz/libpypa.git
[submodule "django"]
	path = lib_pyston/django
	url = git@github.com:kmod/django_test
